.quotes-main {
	/*display: inline-block;
	height: 20%;*/
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 5%;

}

.quote-block {
	border: 2px solid gray;
	padding: 2%;
	position: relative;
}

.an-author {
	/*left: 5%;*/
	margin-left: 4%;
	display: inline-block;
	text-decoration: underline;
	color: blue;
	width: 30%;
}

.an-author:hover {
	color: green;
	cursor: pointer;
}

.a-rating {
	/*padding-left: 50%;*/
	display: inline-block;
	/*width: 40%;*/
}

.return-button {
	display: none;
	margin-left: 40%;
}

.rating-input {
	padding-left: 10%;
	display: inline-block;
	width: 40%;
	/*text-align: left;*/
}

.rating-input input {
	margin-left: 0.65%;
}

.rating-input span {
	margin-left: 0.65%;
}

.delete-button {
	margin-left: 5%;
}

.delete-popup {
	position: absolute;
	display: block;
	width: 80%;
	height: 80%;
	background-color: #aaa;
}

.random-button {
	margin-left: 30%;
}

.random-popup {
	display: block;
	width: 70%;
	height: 15%;
	background-color: #eee;
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: 2px solid blue;
}

.random-close-button {
	/*margin-top: 90%;*/
	position: absolute;
	left: 102%;
	bottom: 32%;
}